<div class="container">
    <p class="text-danger mt-4 mb-5 h2">
    Your Selected Movie
    </p>
    <div *ngIf="movie !== undefined">

        <h2 class="card-title">{{movie.movieName}}</h2>
        Cast:
        <h5 class="card-text text-primary">{{movie.cast}}</h5>
        Duration:
        <h6 class="card-text text-primary">{{movie.duration}}</h6>
    </div>
<div>
    <p>

    </p>
</div>
    <div mt-3 *ngIf="movie !== undefined">
        <app-add [mId]="movie.mId"></app-add>
    </div>
<div>
    <div  mt-2 *ngIf="service.reviews !== undefined">
        <div class="card m-2 border" *ngFor="let movieReview of service.reviews; let i = index">
            <div class="card-body" >
                Rating :
                <h1 class="card-title text-warning"> {{movieReview.rating}}</h1>
                Review :
                <h5 class="card-text text-success"> {{movieReview.review}}</h5>

                <!-- <button class="btn btn-link p-0" (click)="delete(movieReview.rId,i)">
                    <i class="fas fa-trash-alt text-danger"></i>
                </button> -->

            </div>
        </div>
    </div>
</div>
</div>